 Global Layout Set-Up */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	padding: 0;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* -------------------------------
	Main Styles
--------------------------------- */

/* -- Header -- */
.banner {
	height: 50px;
	border-bottom: 3px solid #fff;
}
.banner,
.banner-icons {
	display: flex;
	justify-content: space-between;
	background-color: #7477BF;
	align-items: center;
}

.banner-icons {
	justify-content: flex-end;
}

.site-logo {
	font-size: 1.25em;
	font-weight: bold;
	color: #fff;
	padding-left: calc(2%);
}
.light {
	font-weight: 400;
}

.banner-icons li {
	color: #fff;
	font-size: 1.125em;
	font-weight: 300;
	padding-right: 10px;
}

.alerts {
	padding-top: 5px;
	width: 30px;
}

.profile-avatar img {
	margin-top: 5px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
/* -- Navigation -- */
.nav-bar {
	width: calc(100%);
	min-height: 2000px;
}

.nav-bar,
.nav-icons {
	display: flex;
	flex-direction: column;
	background-color: #4D4C72;
}

.nav-icons a {
	display: block;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #fff;
	opacity: .5;
}

.nav-icons a:hover {
	opacity: 1;
}

.nav-bar img {
	width: 25px;
}

/* -- Alert banner -- */
.alert {
	background-color: #4D4C72;
	color: #fff;
	width: 95%;
	margin: 10px auto;
	height: 40px;
	border-radius: 5px;
}
.alert p {
	margin-top: 12px;
	padding-left: 10px;
	float: left;
	font-size: .85em;
}
.alert span {
	float: right;
	padding: 5px 10px 0 0;
	font-weight: 700;
}
.alert span:hover {
	cursor: pointer;
}
.hide {
	display: none;
}

/* -- Widget Area -- */
.widgetArea {
	width: 100%;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	background-color: #dcdcdc;
	width: 100%;
}
.dashboard-container {
	width: 15%;
	background-color: #fff;
	border-right: 1px solid #808080;
}

.dashboard h1 {
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;

}
.searchbox {
	width: 85%;
	border-bottom: 1px solid #808080;
}

.searchbox input {
	margin-left: 60%;
	margin-top: 12.5px;
	width: 30%;
	height: 25px;
}
/* Traffic */
.traffic {
	padding: 5%;
}

/* Daily Traffic */
.dailyTraffic {
	border: 1px solid #808080;
	border-left: none;
	width: 50%;
	float: left;
}
/* Mobile Users */
.mobileUsers {
	width: 45%;
	float: right;
	display: inline-block;
}

/* Social Stats */

.socialStats {
	width: 100%;
}
.social-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.social-box {
	width: 25%;
	padding: 20px;
	border: 1px solid #808080;
	border-radius: 5px;
}
.social-info {

}
.social-name {
	color: #7477BF;
	font-size: 1.5em;
	font-weight: 200;
}
.social-count {
	
}
.social-icon {
	background-color: #7477BF;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: relative;
}
.icon {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	left: 15px;
	fill: #fff;
}
/* New Members */
.newMembers {

}

/* Recent Activity */
.recentActivity {

}

/* Message Users */
.messageUser {

}

/* Settings */
.settings {

}

/* Clearfix */
.clearfix {
	overflow: auto;
}

/* -------------------------------
	Media Queries
--------------------------------- */

@media (min-width: 769px) {
	.nav-bar {
		height: 50px;
	}
	.nav-icons {
		flex-direction: row;
		justify-content: space-between;
	}
	.nav-icons a {
		border: none;
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media (min-width: 1025px) {
	.container {
		display: flex;
	}
	.nav-bar {
		width: calc(7%);
		height: calc(100%);
	}
	.nav-icons {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-icons li {
		margin: auto;
	}
	.banner {
		border: none;
	}
	.alerts {
		padding-top: 5px;
		width: 30px;
		border-right: 1px solid white;
	}
	.profile-avatar {
		margin-left: 10px;
	}
}


/* Main Content Styles 